Service References/AltServSpace/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Alternate.WindowsService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Alternate.WindowsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Alternate.WindowsService/Imports">
      <xsd:import schemaLocation="http://localhost:8000/ServiceModelSamples/service?xsd=xsd0" namespace="http://Alternate.WindowsService" />
      <xsd:import schemaLocation="http://localhost:8000/ServiceModelSamples/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlternate_GetInterval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInterval" />
  </wsdl:message>
  <wsdl:message name="IAlternate_GetInterval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="IAlternate_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAlternate_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAlternate_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IAlternate_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlternate">
    <wsdl:operation name="GetInterval">
      <wsdl:input wsaw:Action="http://Alternate.WindowsService/IAlternate/GetInterval" message="tns:IAlternate_GetInterval_InputMessage" />
      <wsdl:output wsaw:Action="http://Alternate.WindowsService/IAlternate/GetIntervalResponse" message="tns:IAlternate_GetInterval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://Alternate.WindowsService/IAlternate/Login" message="tns:IAlternate_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://Alternate.WindowsService/IAlternate/LoginResponse" message="tns:IAlternate_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://Alternate.WindowsService/IAlternate/Query" message="tns:IAlternate_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://Alternate.WindowsService/IAlternate/QueryResponse" message="tns:IAlternate_Query_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>